[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-ckeditor = "*"
django-heroku = "*"
heroku = "*"
pillow = "*"
django-storages = "*"
gunicorn = "*"
python-decouple = "*"
whitenoise = "*"
django-project = "*"

[dev-packages]

[requires]
python_version = "3.9"
