{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/PARADOXop"><img src="{% static 'images/github.png' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/_paradoxop_/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://www.kaggle.com/ravirajkukade"><img src="{% static 'images/kaggle.png' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/raviraj-kukade-b3257b179/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fc6%2Fb9%2F81%2Fc6b981c0098058dc429b7cdaeb0802ca.jpg&f=1&nofb=1"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        </ul>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->